* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body {
    height: 60vh;
    background-color: bisque;
}
header {
    height: 40vh;
    background-color: black;
    color: aliceblue;
    }
.contenedorheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.cona {
font-size: 1rem;
}
.conc img {
    width: 40rem; 
    height: 10rem;     
}
nav a { 
    display: inline-block;
    color: white;
    background-color: rgb(3, 3, 250);
    padding: 0.1rem;
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a[href="#"]{
    color: white;
    background-color: rgb(36, 160, 20);
}
a:hover {
    color: white;
    background-color: rgb(230, 118, 6);
}
a:active {
    background-color: rgb(41, 16, 184);
}

main { height: 60vh;
}
.contenedormain {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.logo  img {
height: 7rem
}
.pics img {
    height: 10rem
}
.textos {
    line-height: 2em;
    padding: 0.2rem;
    font-size: 1rem;
    color: black;
    text-align: justify;
}
#Rulescentrado, h2 {
    text-align: center;
}
.negrita {
    font-weight: bold;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid rgb(1, 5, 15);
 background-color: rgb(72, 147, 184);
}
th, td {
    padding: 0.5rem;
  }
.T0 {
    background-color: rgb(11, 7, 3);
    color: white;
    text-align: center;
}
.T1 {
    background-color: grey;
}

